body{
    background-color: lightseagreen;
}

#Lo{
    font-size: 30px;
    font-family: "Lucida Handwriting", Papyrus, sans-serif;
}

.interests{
    border-style li;
    margin: 15px;
    border-style:dotted;
}

.pets{
    border-style li;
    margin: 15px;
    border-style:dotted;
}